@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

.info-card {
    padding: 20px 10px 0;
    width: 180px;
    height: 200px;
    border-radius: 20px;
    background-color: color.adjust(v.$color_white, $alpha:-0.85);
    @include m.d-flex(start,center,nowrap,column,0,10px);

    &__icon {
        width: 25px;
        height: 25px;
        fill: v.$color_black;
    }

    &__title {
        @include m.font(18px,500, v.$color_black);
    }

    &__desc {
        text-align: center;
        @include m.font(16px,300, v.$color_black);
    }

    &:hover {
        cursor: pointer;
        background-color: color.adjust(v.$color_white, $alpha:-0.95);

        .info-card__icon {
            fill:v.$color_white;
        }
        .info-card__title, .info-card__desc {
            color:v.$color_white;
        }
    }

    @media (max-width:v.$media_xs) {
        width: 140px;
        height: 170px;
        &__title {
          @include m.font(14px4500, v.$color_black);
        }

        &__desc {
        text-align: center;
          @include m.font(11px,300, v.$color_black);
        }
    }
}

.img-card{
    width: 325px;
    height: 295px;
    position: relative;
    border-radius: 15px;
    background-color: color.adjust(v.$color_white, $alpha:-0.85);
    @include m.d-flex (space-between, center, nowrap, column, 0, 0);
    overflow: hidden;
    flex-shrink: 0;
    &__title {
        @include m.font (23px,400,v.$color_white);
        @include m.d-flex (center, center, nowrap, column, 0, 0);
        flex-grow: 1;
    }

    &__preview{
        width: 100%;
        height: 220px;
    }

    &__btn {
        @include m.position (absolute,1,-2,bottom, left, -20px, -30px);
        width: 120px;
        height: 90px;
        border-radius: 20px;
        border: none;
        background-color: v.$color_white;
        rotate: z 7deg;
        transition: rotate .2s;


        &-icon {
            width: 36px;
            height: 23px;
            fill: v.$color_black;
            rotate: z -7deg;
            translate: 12px -3px;
        }

        &:hover {
            cursor: pointer;
            rotate: z 7deg;


            .img-card__btn-icon {
                rotate: z -7deg;
                translate: 17px -8px;
            }
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 8px 20px 12px rgba(0,0,0,.15), inset 0 -50px 70px 25px rgba(0,0,0,.2);
    }

    @media (max-width: v.$media_xs) {
        width: 330px;
    }
}

.wave-card {
    width: 500px;
    height: 275px;
    background: url('../assets/Rectangle\ 9.png') center/contain no-repeat; 
    @include m.d-flex(start,start,nowrap,column,0,35px);

    &__img {
        margin: 30px 0 0 40px;
        border-radius: 50%;
    }

    &__quote {
        @include m.font (16px, 400, v.$color_white);
        margin: 0 55px 0 45px;
        line-height: 1.4;
        text-align: justify;
    }

    @media(max-width: v.$media_md) {
        width: 330px;
        row-gap: 15px;
        background: url('../assets/Rectangle\ 9.png') 50% 0/contain no-repeat;

        &__quote {
           @include m.font (12px, 400, v.$color_white);
        }
    }
}